$nr-poze: 7 !default;

#sectiune-galerie-animata {
  padding-left: 2rem; /* variabila din css-ul general*/
  padding-right: 2rem;
}
.galerie-a {
  width: 430px;
  height: 330px;
  border: 4px inset black;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}
.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.galerie-a figure {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
}

#galerie-animata figure {
  z-index: 0;
  animation-name: animatie;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 21s;
  transform-origin: center center;
}

@for $i from $nr-poze through 1 {
  #galerie-animata figure:nth-of-type(#{$i}) {
    animation-delay: (($nr-poze - $i) * 3) + s;
  }
}

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/

@keyframes animatie {
  0% {
    z-index: 10;
    opacity: 1;
  }
  7.142857% {
    clip-path: circle(75% at 50% 50%);
  }
  12% {
    opacity: 1;
    transform: rotate(0deg);
    clip-path: circle(25% at 50% 50%);
  }

  14.285714% {
    z-index: 10;
    opacity: 0;
    transform: rotate(180deg);
  }
  14.285715% {
    z-index: -10;
    transform: rotate(0deg);
  }

  85.714287% {
    opacity: 0;
    z-index: -10;
  }
  85.714288% {
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}

@media screen and (max-width: 500px) {
  #sectiune-galerie-animata {
    display: none;
  }
}
