<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eroare 403</title>
    <%- include("../fragmente/head.ejs") %>
    <style>
      h1.title-403,
      .p-403 {
        text-align: center;
      }
      .p-403 {
        font-size: 1.25rem;
      }
    </style>
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>
    <h1 class="title-403">Eroare 403</h1>
    <p class="p-403">Accesul este interzis la aceasta pagina.</p>

    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
