#sectiune-galerie-animata {
  padding-left: 2rem;
  /* variabila din css-ul general*/
  padding-right: 2rem;
}

.galerie-a {
  width: 430px;
  height: 330px;
  border: 4px inset black;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.galerie-a figure {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
}

#galerie-animata figure {
  z-index: 0;
  animation-name: animatie;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 33s;
  transform-origin: center center;
}

#galerie-animata figure:nth-of-type(11) {
  animation-delay: 0s;
}

#galerie-animata figure:nth-of-type(10) {
  animation-delay: 3s;
}

#galerie-animata figure:nth-of-type(9) {
  animation-delay: 6s;
}

#galerie-animata figure:nth-of-type(8) {
  animation-delay: 9s;
}

#galerie-animata figure:nth-of-type(7) {
  animation-delay: 12s;
}

#galerie-animata figure:nth-of-type(6) {
  animation-delay: 15s;
}

#galerie-animata figure:nth-of-type(5) {
  animation-delay: 18s;
}

#galerie-animata figure:nth-of-type(4) {
  animation-delay: 21s;
}

#galerie-animata figure:nth-of-type(3) {
  animation-delay: 24s;
}

#galerie-animata figure:nth-of-type(2) {
  animation-delay: 27s;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 30s;
}

@keyframes animatie {
  0% {
    z-index: 12;
    opacity: 1;
  }
  4.5454545455% {
    clip-path: circle(75% at 50% 50%);
  }
  8.5227272727% {
    opacity: 1;
    transform: rotate(0deg);
    clip-path: circle(25% at 50% 50%);
  }
  9.0909090909% {
    z-index: 10;
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
    transform: rotate(180deg);
  }
  9.0919090909% {
    z-index: -10;
    transform: rotate(0deg);
  }
  90.9090909091% {
    opacity: 0;
    z-index: -10;
  }
  90.9090909091% {
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@media screen and (max-width: 500px) {
  #sectiune-galerie-animata {
    display: none;
  }
}