img,
video,
iframe,
.iframe,
hr,
.container-go-up-btn {
  display: none;
}

a,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

.page-title {
  text-align: center;
}

header {
  page-break-after: always;
}

footer {
  page-break-before: always;
}

@page {
  size: A4 portrait;
  margin-bottom: 2cm;
  margin-top: 2cm;
}

@page :left {
  margin-left: 2cm;
  margin-right: 1cm;
}

@page :right {
  margin-left: 1cm;
  margin-right: 2cm;
}

#watermark {
  display: block;
  text-align: center;
  position: fixed; /*apare pe toate paginile*/
  bottom: 48%;
  color: rgba(0, 0, 0, 0.4);
  right: 20%;
  width: 60vw;
  height: 10vh;
  font-size: 3rem;
}

#watermark::after {
  opacity: 0.4;
  padding: 5px;
  display: block;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  content: "Andrei Hodoroaga";
}

#banner {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border: 1px solid black;
  border-style: double;
  font-size: 2.5rem;
  text-align: center;
}

#top {
  margin-top: 45vh;
}

table {
  display: none;
}

/*
.print {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print h1 {
  width: 60vw;
  height: 10vh;
} */
