<script>
  var tema = localStorage.getItem("tema");
  if (!tema) {
    localStorage.setItem("tema", "light");
  } else {
    if (tema == "dark") document.body.classList.add("dark");
  }
</script>

<header id="top">
  <h1 class="page-title">Supercars</h1>
  <nav>
    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu" />
    </label>
    <input id="ch-menu" type="checkbox" />
    <ul class="meniu">
      <li><a href="/index">Acasa</a></li>
      <li class="menu-masini">
        <div>Masini</div>
        <ul class="submeniu animated">
          <li><a href="#mclaren">McLaren</a></li>
          <li><a href="#lamborghini">Lamborghini</a></li>
          <li><a href="#ferrari">Ferrari</a></li>
          <li><a href="#bugatti">Bugatti</a></li>
        </ul>
      </li>
      <li><a href="/cos">Cos</a></li>
      <li><a href="/despre">Despre</a></li>
      <li><a href="/inregistrare">Inregistrare</a></li>
    </ul>
  </nav>
</header>
