<script>
  var tema = localStorage.getItem("tema");
  if (!tema) {
    localStorage.setItem("tema", "light");
  } else {
    if (tema == "dark") document.body.classList.add("dark");
  }
</script>
<header id="top">
  <h1 class="page-title">Supercars</h1>
  <nav>
    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu" />
    </label>
    <input id="ch-menu" type="checkbox" />
    <ul class="meniu">
      <li><a href="/index">Acasa</a></li>
      <li class="menu-masini">
        <div><a href="/produse">Masini</a></div>
        <ul class="submeniu animated">
          <% for (let optiune of locals.optiuniMeniu) { %>
          <li>
            <a href="/produse/?brand=<%= optiune.unnest %>"
              ><%= optiune.unnest %></a
            >
          </li>
          <% } %>
        </ul>
      </li>
      <li><a href="/cos">Cos</a></li>
      <li><a href="/despre">Despre</a></li>
      <li><a href="/inregistrare">Inregistrare</a></li>
      <% if(locals.utilizator) { %>
      <li><div><%- locals.utilizator.username %></div></li>
      <ul>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <% } %>
    </ul>
  </nav>
</header>
